body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
.heading{
    font-size:23px;
    width:100%;
margin:0px;
box-shadow:5px 5px 5px grey;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height:3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
}